/*General*/

body{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(0deg, rgb(219,219,211) 80%, rgb(0,150,136) 80%);
    height: 100vh;
}

/*Sidebar*/

.bg-sidebar {
    background-color: #FBFBFB;
    height: calc(100vh - 40px);
    margin: 20px;
}

img{
    width: 15%;
}

.fas{
    padding-right: 10px;
}